<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>登录</title>

    <!-- Custom styles for this template-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/web/view/login">中国农业大学研究生课表</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/web/view/disclaimer">免责说明</a></li>
                    <li><a href="/web/view/contact">联系</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Coming soon <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/web/view/app">APP下载</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <br>
    <br>
    <div class="container">
        <div class="page-header">
            <h1>免责说明</h1>
        </div>
        <p class="lead">首先声明本站以及所有cabbsir.com域名下产品不会在数据库记录您的<code>任何明文密码</code>（均md5加密后存储）</p>
        <p class="lead">您在本站输入的教务处密码只是为了登录您的教务处网站获取数据<code>本站绝不做明文存储</code></p>
        <p>本站所有接口没有与学校合作，如您有顾虑请<code>谨慎使用</code></p>
        <p>开源全部代码于<a href="https://github.com/CabbSir/CAU_Graduate_Course_Schedule">Github</a></p>
        <hr>
        <p>MIT License</p>
        <p>Copyright (c) 2021 CabbSir</p>
        <p>Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:</p>
        <p>The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.
        </p>
        <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.</p>
        <hr>
        <code>再次重申，本站代码完全开源，不会对您的密码做任何明文存储</code>
    </div>

<!-- Bootstrap core JavaScript-->
<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

<script>

</script>
</body>

</html>