<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>登录</title>

    <!-- Custom styles for this template-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/schedule">中国农业大学研究生课表</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/disclaimer">免责说明</a></li>
                <li><a href="/contact">联系</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Coming soon <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/app">APP下载</a></li>
                        <li id="li"></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="page-header">
        <div class="btn-group">
            <button class="btn btn-link btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span>当前第</span>
                <span id="weekNowSpan" style="color: #5bc0de"></span>
                <span>周</span><span class="caret"></span>
            </button>
            <ul id="ul" class="dropdown-menu">

            </ul>
        </div>
        <table id="schedule" class="table table-bordered table-hover table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>周一</th>
                <th>周二</th>
                <th>周三</th>
                <th>周四</th>
                <th>周五</th>
                <th>周六</th>
                <th>周日</th>
            </tr>
            <tr id="dateTr">

            </tr>
            </thead>
            <tbody>
            <tr id="tr1">
                <td id="1-0">第 1-4 节<br> 08:00 -- 12:00</td>
                <td id="1-1" class="success"></td>
                <td id="2-1" class="info"></td>
                <td id="3-1" class="warning"></td>
                <td id="4-1" class="success"></td>
                <td id="5-1" class="danger"></td>
                <td id="6-1" class="warning"></td>
                <td id="7-1" class="info"></td>
            </tr>
            <tr id="tr2">
                <td id="2-0">第 5-8 节<br> 14:00 -- 18:00</td>
                <td id="1-2" class="danger"></td>
                <td id="2-2" class="success"></td>
                <td id="3-2" class="info"></td>
                <td id="4-2" class="warning"></td>
                <td id="5-2" class="success"></td>
                <td id="6-2" class="danger"></td>
                <td id="7-2" class="warning"></td>
            </tr>
            <tr id="tr3">
                <td id="3-0">第 9-12 节<br> 19:00 -- 22:30</td>
                <td id="1-3" class="success"></td>
                <td id="2-3" class="info"></td>
                <td id="3-3" class="warning"></td>
                <td id="4-3" class="danger"></td>
                <td id="5-3" class="info"></td>
                <td id="6-3" class="success"></td>
                <td id="7-3" class="danger"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h3 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                       aria-expanded="false" aria-controls="collapseOne">
                        点击查看备注课表
                    </a>
                </h3>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <table id="remarkTable" class="table table-bordered table-hover table-responsive">
            <thead>
            <tr>
                <td>课程名称</td>
                <td>备注</td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

<script>
    let week_no_now = 0;
    let weekday_obj = {
        '周一': 1,
        '周二': 2,
        '周三': 3,
        "周四": 4,
        "周五": 5,
        '周六': 6,
        '周日': 7
    }
    $(function () {
        isLogin()
        getWeekInfo()
        getSchedule(week_no_now)
    })

    function isLogin() {
        $.ajax({
            url: 'console/is_login',
            type: 'GET',
            success: function (data) {
                if (data.code === 0) {
                    // 已经登录了
                    let a = $("<a></a>").attr('href', '/console/logout').append("登出");
                    a.appendTo("#li");
                } else {
                    window.location.href = "/user_info"
                }
            }
        })
    }

    function getWeekInfo() {
        $("#ul").empty();
        $.ajax({
            url: '/console/week_info',
            type: 'GET',
            success: function (data) {
                if (data.code === 0) {
                    // 添加到下拉菜单
                    $("#weekNowSpan").text(data.message.week_now);
                    week_no_now = data.message.week_now;
                    for (let i = 1; i < parseInt(data.message.total_weeks) + 1; i++) {
                        let btn = $("<button></button>").attr('type', 'button').attr('weekNo', i)
                            .attr('class', 'btn btn-link btn-block weekBtn').append("第" + i + "周");
                        let li = $("<li></li>");
                        li.append(btn).appendTo("#ul");
                    }
                } else {
                    alert(data.message);
                }
            }
        });
        $('#ul').on('click', '.weekBtn', function () {
            $("#weekNowSpan").text($(this).attr("weekNo"))
            getSchedule($(this).attr("weekNo"));
        });
    }

    function getSchedule(week_no) {
        $("#remarkTable tbody").empty();
        $("#dateTr").empty();
        $("#tr1 td").empty();
        $("#tr3 td").empty();
        $("#tr2 td").empty();
        $("#1-0").append("第 1-4 节<br> 08:00 -- 12:00 ");
        $("#2-0").append("第 5-8 节<br> 14:00 -- 18:00 ");
        $("#3-0").append("第 9-12 节<br> 19:00 -- 22:30 ");
        $.ajax({
            url: '/console/schedule?week_no=' + week_no,
            type: 'GET',
            success: function (data) {
                if (data.code === 0) {
                    // 展示课表
                    $.each(data.message.thead, function (index, data) {
                        if (index === 0) {
                            let dateTd = $("<td></td>").append("日期")
                            $("#dateTr").append(dateTd);
                        }
                        let dateTd = $("<td></td>").append(data.date)
                        $("#dateTr").append(dateTd);
                    })
                    $.each(data.message.special, function (index, data) {
                        let tr = $("<tr></tr>");
                        let nameTd = $("<td></td>").append(data.name);
                        let remarkTd = $("<td></td>").append(data.remark);
                        tr.append(nameTd).append(remarkTd).appendTo("#remarkTable tbody")
                    })
                    $.each(data.message.tbody, function (index, data) {
                        let td = $("<td></td>").append("《" + data.name + "》" + '<br>' + data.classroom);
                        let firstNum = weekday_obj[data.weekday];
                        let secondNum = 0
                        if (data.class_start === 1) {
                            secondNum = 1
                        }
                        if (data.class_start === 5) {
                            secondNum = 2
                        }
                        if (data.class_start === 9) {
                            secondNum = 3
                        }
                        let id = firstNum + "-" + secondNum;
                        $("#" + id).append(td);
                    })
                } else {
                    $("#messageCode").val(data.message);
                }
            }
        })
    }
</script>
</body>

</html>