<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>登录</title>

    <!-- Custom styles for this template-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrapValidator.min.css" rel="stylesheet">

</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/schedule">中国农业大学研究生课表</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/disclaimer">免责说明</a></li>
                <li><a href="/contact">联系</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Coming soon <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/app">APP下载</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="page-header">
        <h1>教务登录</h1>
    </div>
    <p class="lead">声明：本站不会明文存储您的<code>任何密码</code>且不会利用您的账号进行任何其他操作</p>
    <p><code>如仍有顾虑，请谨慎使用</code></p>
    <div>
        <form id="loginForm">
            <div class="form-group">
                <label for="j_username">教务处用户名</label>
                <input type="text" class="form-control" name="j_username" id="j_username">
            </div>
            <div class="form-group">
                <label for="j_password">教务处密码</label>
                <input type="password" class="form-control" id="j_password" name="j_password" autocomplete="off">
            </div>
            <input id="md5_passwd" name="md5_passwd" hidden>
            <div class="form-group">
                <label for="captcha_text">验证码</label>
                <div class="form-inline">
                    <input type="text" class="form-control" id="captcha_text" name="captcha_text">
                    <img id="image" src="" onclick="captcha()" alt="" class="img-thumbnail">
                </div>
            </div>
            <button id="loginBtn" onclick="login()" type="button" class="btn btn-default">登录</button>
        </form>

    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">登入成功</h4>
      </div>
      <div class="modal-body">
        正在生成课表，请稍后...
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/md5.js"></script>
<script src="../static/js/validator.min.js"></script>
<script>
    let interval_id;
    $(function () {
        isLogin();
        captcha();
        $('#loginForm').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                j_username: {
                    validators: {
                        notEmpty: {
                            message: '名字不能为空'
                        }
                    }
                },
                j_password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        }
                    }
                },
                captcha_text: {
                    validators: {
                        notEmpty: {
                            message: '验证码不能为空'
                        },
                        stringLength: {
                            min: 5,
                            max: 5,
                            message: '验证码是5位数字'
                        },
                    }
                }
            }
        });
    });

    function login() {
        $("#loginForm").data('bootstrapValidator').validate();
        if ($("#loginForm").data('bootstrapValidator').isValid()) {
            $('#md5_passwd').val(hex_md5($("#j_password").val(), "null"));
            $.ajax({
                url: '/console/login',
                type: 'POST',
                data: $('#loginForm').serialize(),
                dataType: 'json',
                beforeSend: function () {
                    $('#myModal').modal({
                        'keyboard': false,
                        'backdrop': 'static'
                    });
                },
                success: function (data) {
                    if (data.code === 0) {
                        // 登录成功，先显示一个等待框
                        $("#myModal").modal('hide');
                        window.location.href = '/schedule';
                    } else if (data.code === 10006) {
                        $("#myModal").modal('hide');
                        alert("登陆成功，但是课表获取失败，请重新登录尝试")
                        window.location.refresh();
                    } else {
                        alert("登入失败，请检查输入项，注意如果密码错误5次会被禁止登陆一天")
                    }
                }
            });
        }
    }

    function captcha() {
        $.ajax({
            url: '/console/captcha',
            type: 'GET',
            success: function (data) {
                $('#image').attr('src', data.message);
            }
        })
    }

    function isLogin() {
        $.ajax({
            url: 'console/is_login',
            type: 'GET',
            success: function (data) {
                if (data.code === 0) {
                    window.clearInterval(interval_id)
                    // 已经登录了
                    window.location.href = '/schedule';
                }
            }
        })
    }

</script>
</body>

</html>